<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.managerment.personnel.mapper.IEmployeesMapper">

  <cache/>

  <resultMap id="EmployeesResultMap" type="Employees">
    <id property="id" column="EMPID"/>
    <result property="deptno" column="DEPTNO"/>
    <result property="empname" column="EMPNAME"/>
    <result property="joindate" column="JOINDATE"/>
    <result property="sex" column="SEX"/>
    <result property="age" column="AGE"/>
    <result property="mobible" column="MOBIBLE"/>
    <result property="tel" column="TEL"/>
    <result property="qq" column="QQ"/>
    <result property="wx" column="WX"/>
  </resultMap>


  <resultMap  id="EmployeesResultMapWithDeptType" type="Employees" extends="EmployeesResultMap">
  	<association property="deptno" resultMap="com.neusoft.managerment.personnel.mapper.IDepartmentsMapper.DepartmentsResultMap"></association>
  </resultMap>

  <insert id="create"  keyProperty="id"   keyColumn="EMPID" useGeneratedKeys="true"  flushCache="true">
   insert into employees (EMPID,DEPTNO,EMPNAME,JOINDATE,SEX,MOBIBLE,TEL,QQ,WX)
   values (#{id},#{deptno},#{empname},#{joindate},#{sex},#{age},#{mobible},
   #{tel},#{qq},#{wx})
  </insert>
  
  <update id="update" flushCache="true">
   update employees set DEPTNO=#{deptno},EMPNAME=#{empname},JOINDATE=#{joindate},SEX=#{sex},AGE=#{age},MOBILE=#{mobile},TEL=#{tel},QQ=#{qq},
   WX=#{wx} where EMPID=#{id}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from employees where EMPID=#{id}
  </delete>
  
  <select id="selectEmpListByAll" resultMap="EmployeesResultMap">
   select * from employees
  </select>
  
  <select id="selectEmpListByAllWithPage" resultMap="EmployeesResultMap">
   select * from employees limit #{start},#{rows}
  </select>
  
  <select id="selectEmpByID" resultMap="EmployeesResultMap" >
  select * from employees  where EMPID=#{id}
  </select>
  
  <!-- 取得客户的个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  <select id="selectCountByAll" resultType="int">
   select IFNULL(count(EMPID), 0) from employees
  </select>
  
</mapper>
