<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.managerment.feeinfo.mapper.IFeeItemMapper">
 <cache/>
 
 <resultMap type="FeeItem" id="FeeItemResultMap">
 	<id property="no" column="ItemNo" />
 	<result property="code" column="ItemCode" />
 	<result property="name" column="ItemName" />
 	<result property="unit" column="ItemUnit" />
 	<result property="cycle" column="FeeCycle" />
 	<result property="status" column="ItemStatus" />
 	<result property="desc" column="ItemDesc" /> 	
 </resultMap>
 
 <!-- association 对一关系 -->
 <!-- 使用内嵌式ResultMap的关联收费类型的结果映射 -->
 <resultMap type="FeeItem" id="FeeItemResultMapWithFeeType" extends="FeeItemResultMap">
 	<association property="feetype" resultMap="com.neusoft.managerment.feeinfo.mapper.IFeeTypeMapper.FeeTypeResultMap" />
 </resultMap>
 
 <!-- 增加收费项目 -->
 <insert id="create" keyProperty="no" keyColumn="ItemNo" useGeneratedKeys="true" flushCache="true">
 	insert into FeeItem (ItemCode,ItemName,ItemUnit,FeeTypeNo,ItemDesc) 
 	value (#{code},#{name},#{unit},#{feetype.no},#{desc})
 </insert>
 
 <!-- 修改收费项目 -->
 <update id="update" flushCache="true">
 	update FeeItem set ItemCode=#{code},ItemName=#{name},ItemUnit=#{unit},
 	FeeTypeNo=#{feetype.no},FeeCycle=#{cycle},ItemStatus=#{status},ItemDesc=#{desc} where ItemNo=#{no}
 </update>
 
 <!-- 删除收费项目 -->
 <delete id="delete" flushCache="true">
  	delete from FeeItem where ItemNo=#{no}
 </delete>
 
 
 <select id="selectListByUnit" resultMap="FeeItemResultMap">
 	select distinct ItemUnit from FeeItem 
 </select>
 
 
 <!-- 取得指定收费项目的信息 -->
 <select id="selectByNoWithFeeType" resultMap="FeeItemResultMapWithFeeType">
 	select a.*,b.* from FeeItem a inner join FeeType b on a.FeeTypeNo=b.TYPENO  where ItemNo=#{no}
 </select>
 
 <!-- 取得收费项目的个数 -->
 <select id="selectCountByAll" resultType="int">
   	select IFNULL(count(ItemNo), 0) from FeeItem
 </select>
 
 <!-- 根据综合检索条件取得收费项目列表 -->
 <select id="selectListByConditionWithPage" resultMap="FeeItemResultMapWithFeeType">
 	select a.*,b.* from FeeItem a inner join FeeType b on a.FeeTypeNo=b.TYPENO 
 	<where>
 		<if test="unit!=null and unit!=''">
 		and a.ItemUnit=#{unit}
 		</if>
 		<if test="feetypeNo!=0">
 		and a.FeeTypeNo=#{feetypeNo}
 		</if>
 		<if test="cycle!=null and cycle!=''">
 		and a.FeeCycle=#{cycle}
 		</if>
 		<if test="status!=null and cycle!=''">
 		and a.ItemStatus=#{status}
 		</if>
 	</where>
 	limit #{start},#{rows}
 </select>
 
 <!-- 根据综合检索条件取得收费项目个数 -->
 <select id="selectCountByCondition" resultType="int">
   	select IFNULL(count(ItemNo), 0) from FeeItem 
   	<where>
 		<if test="unit!=null and unit!=''">
 		and ItemUnit=#{unit}
 		</if>
 		<if test="feetypeNo!=0">
 		and FeeTypeNo=#{feetypeNo}
 		</if>
 		<if test="cycle!=null and cycle!=''">
 		and FeeCycle=#{cycle}
 		</if>
 		<if test="status!=null and cycle!=''">
 		and ItemStatus=#{status}
 		</if>
 	</where>
 </select>
</mapper>