<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.managerment.baseinfo.mapper.IBuildingMapper">

  <cache/>
  
  <resultMap id="BuildResultMap" type="building">
  	<id property="no" column="BuildingNo" />
  	<result property="code" column="BCODE" />
  	<result property="address" column="BAddress" />
  	<result property="direction" column="Direction" />
  	<result property="home" column="TotalHome" />
  	<result property="house" column="TotalHouse" />
  	
  </resultMap>
  
  <!-- association 对一关系 -->
  <!-- 使用内嵌式ResultMap的关联建筑类型的结果映射 -->
  <resultMap id="BuildResultMapWithBuildType" type="building" extends="BuildResultMap" >
  	<association property="buildType"  resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingTypeMapper.BuildTypeResultMap" />
  </resultMap>
  <!-- 使用内嵌式ResultMap的关联小区的结果映射 -->
  <resultMap id="BuildResultMapWithArea" type="building" extends="BuildResultMap" >
  	<association property="area"  resultMap="com.neusoft.managerment.baseinfo.mapper.IAreaMapper.AreaResultMap" />
  </resultMap>
  <!-- 使用内嵌式ResultMap的关联小区和建筑类型的结果映射 -->
  <resultMap id="BuildResultMapWithAreaAndBuildType" type="building" extends="BuildResultMap" >
  	<association property="area"  resultMap="com.neusoft.managerment.baseinfo.mapper.IAreaMapper.AreaResultMap" />
  	<association property="buildType"  resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingTypeMapper.BuildTypeResultMap" />
  </resultMap>
  
  <insert id="create" keyProperty="no" keyColumn="BuildingNo" useGeneratedKeys="true" flushCache="true">
  	insert into Building (AreaNo,BCODE,BAddress,BuildingTypeNo,Direction,TotalHome,TotalHouse) 
  	values (#{area.no},#{code},#{address},#{buildType.no},#{direction},#{home},#{house})
  </insert>
  
  <update id="update" flushCache="true">
  	update Building set AreaNo=#{area.no},BCODE=#{code},BAddress=#{address},BuildingTypeNo=#{buildType.no},
  	Direction=#{direction},TotalHome=#{home},TotalHouse=#{house} where BuildingNo=#{no} 
  </update>
  
  <delete id="delete" flushCache="true">
  	delete from Building where BuildingNo=#{no} 
  </delete>
  
  <!-- 查询楼宇的信息 -->
  <select id="selectBuildListByAll" resultMap="BuildResultMapWithAreaAndBuildType" >
  	select * from Building 
  	
  </select>
  
  <!-- 查询楼宇的信息,关联Area-->
  <select id="selectBuildListByAllWithArea" resultMap="BuildResultMapWithAreaAndBuildType" >
  	select b.*,a.* from Building b inner join Area a on b.AreaNo=a.AREANO
  </select>
  
  <!-- 查询楼宇的信息,关联BuildingType -->
  <select id="selectBuildListByAllWithBuildType" resultMap="BuildResultMapWithAreaAndBuildType" >
  	select a.*,b.* from Building a inner join BuildingType b on a.BuildingTypeNo=b.TYPENO	
  </select>
  
  <!-- 查询楼宇的信息,关联Area和BuildingType -->
  <select id="selectBuildListByAllWithAreaAndBuildType" resultMap="BuildResultMapWithAreaAndBuildType" >
  	select a.*,b.*,c.* from Building a inner join BuildingType b on a.BuildingTypeNo=b.TYPENO inner join Area c on a.AreaNo=c.AREANO
  </select>
  
  <!-- 取得指定小区的楼宇列表,参数:areaNo -->
  <select id="selectBuildListByArea" resultMap="BuildResultMapWithAreaAndBuildType" >
  	select * from Building where AreaNo=#{areaNo} 	
  </select>
  
  <!-- 取得指定建筑类型的楼宇列表,参数:buildTypeNo -->
  <select id="selectBuildListByBuildType" resultMap="BuildResultMapWithAreaAndBuildType" >
  	select * from Building where BuildingTypeNo=#{buildTypeNo}
  </select>
  
   <!-- 取得指定楼宇的信息-->
  <select id="selectBuildByNo" resultMap="BuildResultMapWithAreaAndBuildType" >
  	select * from Building where BuildingNo=#{no} 	
  </select>
  
  <!-- 取得所有楼宇列表,分页模式 -->
  <select id="selectListByAllWithPage" resultMap="BuildResultMap">
   select * from Building limit #{start},#{rows}
  </select>
  
  <!-- 取得楼宇的个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  <select id="selectCountByAll" resultType="int">
   select IFNULL(count(BuildingNo), 0) from Building
  </select>
  
</mapper>