<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.managerment.baseinfo.mapper.ICustomerHomeMapper">

  <cache/>

  <resultMap id="CustomerHomeResultMap" type="CustomerHome">
    <id property="chno" column="CHNO"/>
    <result property="livedate" column="LiveDate"/>
    <result property="receivedate" column="ReceiveDate"/>
    <result property="feestartdate" column="FeeStartDate"/>
    <result property="feeenddate" column="FeeEndDate"/>
    <result property="humancount" column="HumanCount"/>
  </resultMap>

  <!-- 关联的客户序号的ResultMap -->
  <resultMap  id="CustomerHomeWithCustomerNoResultMap" type="CustomerHome" extends="CustomerHomeResultMap">
  	<association property="customer" resultMap="com.neusoft.managerment.baseinfo.mapper.ICustomerMapper.CustomerResultMap"></association>
  </resultMap>

  <!-- 关联的房间编号的ResultMap -->
  <resultMap  id="CustomerHomeWithRoomNoResultMap" type="CustomerHome" extends="CustomerHomeResultMap">
  	<association property="room" resultMap="com.neusoft.managerment.baseinfo.mapper.IRoomMapper.RoomWithFKResultMap"></association>
  </resultMap>

  <!-- 关联的居住类型号的ResultMap -->
  <resultMap  id="CustomerHomeWithLivingTypeNoResultMap" type="CustomerHome" extends="CustomerHomeResultMap">
  	<association property="livingtype" resultMap="com.neusoft.managerment.baseinfo.mapper.ILivingTypeMapper.LivingTypeResultMap"></association>
  </resultMap>
  
  <!-- 关联的CustomerNo,RoomNo,LivingTypeNo的ResultMap -->
  <resultMap  id="CustomerHomeWithFKResultMap" type="CustomerHome" extends="CustomerHomeResultMap">
    <association property="customer" resultMap="com.neusoft.managerment.baseinfo.mapper.ICustomerMapper.CustomerWithCustomerTypeResultMap"></association>
    <association property="room" resultMap="com.neusoft.managerment.baseinfo.mapper.IRoomMapper.RoomWithFKResultMap"></association>
  	<association property="livingtype" resultMap="com.neusoft.managerment.baseinfo.mapper.ILivingTypeMapper.LivingTypeResultMap"></association>
  </resultMap>

  <insert id="create"  keyProperty="chno"   keyColumn="CHNO" useGeneratedKeys="true" flushCache="true">
   insert into CustomerHome (CustomerNo,RoomNo,LivingTypeNo,LiveDate,ReceiveDate,FeeStartDate,FeeEndDate,HumanCount)
   values (#{customer.customerno},#{room.roomno},#{livingtype.typeno},#{livedate},#{receivedate},#{feestartdate},
   #{feeenddate},#{humancount})
  </insert>
  
  <update id="update" flushCache="true">
   update CustomerHome set CustomerNo=#{customer.customerno},RoomNo=#{room.roomno},LivingTypeNo=#{livingtype.typeno},LiveDate=#{livedate},
   ReceiveDate=#{receivedate},FeeStartDate=#{feestartdate},FeeEndDate=#{feeenddate},HumanCount=#{humancount}
   where CHNO=#{chno}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from CustomerHome where CHNO=#{chno}
  </delete>
  
  <!-- 1 查询客户房间的信息 ,无关联-->
  <select id="selectListByAll" resultMap="CustomerHomeResultMap">
   select * from CustomerHome
  </select>
  
  <!-- 2 取得所有客户房间列表,有关联,分页模式 -->
  <select id="selectListByAllWithFKWithPage" resultMap="CustomerHomeWithFKResultMap">
   select a.*,b.*,c.*,d.* from CustomerHome a inner join Customer b on a.CustomerNo=b.CustomerNo 
                                      inner join Room c on a.RoomNo=c.RoomNo 
                                      inner join LivingType d on a.LivingTypeNo=d.TypeNo 
   limit #{start},#{rows}
  </select>
  
  <!-- 3 取得指定客户房间的信息 -->
  <select id="selectByCHNO" resultMap="CustomerHomeWithFKResultMap" >
    select a.*,b.*,c.*,d.*,e.* from CustomerHome a inner join Customer b on a.CustomerNo=b.CustomerNo 
                                       inner join Room c on a.RoomNo=c.RoomNo 
                                       inner join LivingType d on a.LivingTypeNo=d.TypeNo 
                                       inner join Area e on e.areano= c.areano
    where CHNO=#{chno}
  </select>

  <!-- 4 取得客户房间的个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  <select id="selectCountByAll" resultType="int">
   select IFNULL(count(CHNO), 0) from CustomerHome
  </select>
  
  <!-- 5 根据综合检索条件取得客户房间列表-->
  <select id="selectListByConditionWithPage" resultMap="CustomerHomeWithFKResultMap">
    select a.*,b.*,c.*,d.*,e.*  from CustomerHome a inner join Customer b on a.CustomerNo=b.CustomerNo 
                                       inner join Room c on a.RoomNo=c.RoomNo 
                                       inner join LivingType d on a.LivingTypeNo=d.TypeNo
                                       inner join Area e on e.areano= c.areano
  <where>
     <if test="customerno!=0">
      and b.CustomerNo=#{customerno}
     </if>
     <if test="livedate!=null">
      and LiveDate &gt;=#{livedate}
     </if>
     <if test="receivedate!=null">
      and ReceiveDate &lt;=#{receivedate}
     </if>
  </where> 
  limit #{start},#{rows}
  </select>

  <!-- 6 根据综合检索条件取得客户房间个数 -->
  <select id="selectCountByCondition" resultType="int">
  select IFNULL(count(CHNO), 0)  from CustomerHome a inner join Customer b on a.CustomerNo=b.CustomerNo 
                                       inner join Room c on a.RoomNo=c.RoomNo 
                                       inner join LivingType d on a.LivingTypeNo=d.TypeNo 
  <where>
     <if test="customerno!=0">
      and b.CustomerNo=#{customerno}
     </if>
     <if test="livedate!=null">
      and LiveDate &gt;=#{livedate}
     </if>
     <if test="receivedate!=null">
      and ReceiveDate &lt;=#{receivedate}
     </if>
  </where>  
  </select> 
  
</mapper> 