<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.managerment.baseinfo.mapper.IParkMapper">

  <cache/>
  
  <resultMap id="ParkResultMap" type="park">
  	<id property="no" column="ParkNO" />
  	<result property="code" column="ParkCode" />
  	<result property="location" column="Location" />
  	<result property="area" column="Area" />
  	<result property="parkstatus" column="ParkStatus" />
  	<result property="rentprice" column="Rentprice" />
  	<result property="rentunit" column="RentUnit" />
  	<result property="feestatus" column="FeeStatus" />
  </resultMap>
  
  <!-- association 对一关系 -->
  <!-- 使用内嵌式ResultMap的关联车位类型的结果映射 -->
  <resultMap id="ParkResultMapWithParkType" type="park" extends="ParkResultMap" >
  	<association property="parkType"  resultMap="com.neusoft.managerment.baseinfo.mapper.IParkTypeMapper.ParkTypeResultMap" />
  </resultMap>
  <!-- 使用内嵌式ResultMap的关联楼宇的结果映射 -->
  <resultMap id="ParkResultMapWithBuilding" type="park" extends="ParkResultMap" >
  	<association property="building"  resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingMapper.BuildResultMap" />
  </resultMap>
  <!-- 使用内嵌式ResultMap的关联车位类型和楼宇的结果映射 -->
  <resultMap id="ParkResultMapWithParkTypeAndBuilding" type="park" extends="ParkResultMap" >
  	<association property="parkType"  resultMap="com.neusoft.managerment.baseinfo.mapper.IParkTypeMapper.ParkTypeResultMap" />
  	<association property="building"  resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingMapper.BuildResultMap" />
  </resultMap>
  
  <!-- 增加车位 -->
  <insert id="create" keyProperty="no" keyColumn="ParkNO" useGeneratedKeys="true" flushCache="true">
  	insert into Park (TypeNo,ParkCode,BuildingNo,Location,Area,ParkStatus,Rentprice,RentUnit,FeeStatus) 
  	values (#{parkType.no},#{code},#{building.no},#{location},#{area},#{parkstatus},#{rentprice},#{rentunit},#{feestatus})
  </insert>
  
  <!-- 修改车位 -->
  <update id="update" flushCache="true">
  	update Park set TypeNo=#{parkType.no},ParkCode=#{code},BuildingNo=#{building.no},Location=#{location},
  	Area=#{area},ParkStatus=#{parkstatus},Rentprice=#{rentprice},RentUnit=#{rentunit},FeeStatus=#{feestatus} where ParkNO=#{no} 
  </update>
  
  <!-- 删除车位 -->
  <delete id="delete" flushCache="true">
  	delete from Park where ParkNO=#{no} 
  </delete>
  
  <!-- 取得所有车位列表 -->
  <select id="selectListByAll" resultMap="ParkResultMapWithParkTypeAndBuilding" >
  	select * from Park 	
  </select>
  
  <!-- 取得所有车位列表,关联ParkType-->
  <select id="selectListByAllWithParkType" resultMap="ParkResultMapWithParkTypeAndBuilding" >
  	select a.*,b.* from Park a inner join ParkType b on a.TypeNO=b.TYPENO
  </select>
  
  <!-- 取得所有车位列表,关联Building -->
  <select id="selectListByAllWithBuilding" resultMap="ParkResultMapWithParkTypeAndBuilding" >
  	select a.*,b.* from Park a inner join Building b on a.BuildingNo=b.BuildingNo	
  </select>
  
  <!-- 取得所有车位列表,关联ParkType和Building -->
  <select id="selectListByAllWithParkTypeAndBuilding" resultMap="ParkResultMapWithParkTypeAndBuilding" >
  	select a.*,b.*,c.* from Park a inner join ParkType b on a.TypeNO=b.TYPENO inner join Building c on a.BuildingNo=c.BuildingNo
  </select>
  
  <!-- 取得指定车位类型的车位列表,参数:parkTypeNo -->
  <select id="selectListByParkType" resultMap="ParkResultMapWithBuilding" >
  	select * from Park where TypeNo=#{parkTypeNo} 	
  </select>
  
  <!-- 取得指定楼宇的车位列表,参数:buildingNo -->
  <select id="selectListByBuilding" resultMap="ParkResultMapWithParkType" >
  	select * from Park where BuildingNo=#{buildingNo}
  </select>
  
   <!-- 取得指定车位的信息 -->
  <select id="selectByNo" resultMap="ParkResultMapWithParkTypeAndBuilding" >
  	select * from Park where ParkNO=#{no} 	
  </select>
  
  <!-- 取得所有车位列表,分页模式 -->
  <select id="selectListByAllWithPage" resultMap="ParkResultMapWithParkTypeAndBuilding">
   select * from Park limit #{start},#{rows}
  </select>
  
  <!-- 取得车位的个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  <select id="selectCountByAll" resultType="int">
   select IFNULL(count(parkNo), 0) from Park
  </select>
  
</mapper>