<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.managerment.baseinfo.mapper.IParkTypeMapper">

  <cache/>
  
  <resultMap id="ParkTypeResultMap" type="ParkType">
  	<id property="no" column="TYPENO" />
  	<result property="name" column="TYPENAME" />
  	<result property="price" column="Price" />
  	<result property="unit" column="Unit" />
  </resultMap>
  
  <insert id="create" keyProperty="no" keyColumn="TYPENO" useGeneratedKeys="true" flushCache="true">
  	insert into ParkType (TYPENAME,Price,Unit) values (#{name},#{price},#{unit})
  </insert>
  
  <update id="update" flushCache="true">
  	update ParkType set TYPENAME=#{name},Price=#{price},Unit=#{unit} where TYPENO=#{no} 
  </update>
  
  <delete id="delete" flushCache="true">
  	delete from ParkType where TYPENO=#{no} 
  </delete>
    
  <!-- 查询车位类型的信息 -->
  <select id="selectListByAll" resultMap="ParkTypeResultMap" >
  	select * from ParkType 	
  </select>
  
   <!-- 取得指定车位类型的信息 -->
  <select id="selectByNo" resultMap="ParkTypeResultMap" >
  	select * from ParkType where TYPENO=#{no} 	
  </select>
  
  <!-- 取得所有车位类型列表,分页模式 -->
  <select id="selectListByAllWithPage" resultMap="ParkTypeResultMap">
   select * from ParkType limit #{start},#{rows}
  </select>
  
  <!-- 取得车位类型的个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  <select id="selectCountByAll" resultType="int">
   select IFNULL(count(TYPENO), 0) from ParkType
  </select>
  
</mapper>