<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.managerment.baseinfo.mapper.IRoomMapper">

  <cache/>

  <resultMap id="RoomResultMap" type="Room">
    <id property="roomno" column="ROOMNO"/>
    <result property="departmentcode" column="DEPARTMENTCODE"/>
    <result property="floor" column="FLOOR"/>
    <result property="roomcode" column="ROOMCODE"/>
    <result property="buildingarea" column="BUILDINGAREA"/>
    <result property="feearea" column="FEEAREA"/>
    <result property="roomstatus" column="ROOMSTATUS"/>
    <result property="roomtype" column="ROOMTYPE"/>
  </resultMap>

  <!-- 关联的小区的ResultMap -->
  <resultMap  id="RoomWithAreaResultMap" type="Room" extends="RoomResultMap">
  	<association property="area" resultMap="com.neusoft.managerment.baseinfo.mapper.IAreaMapper.AreaResultMap"></association>
  </resultMap>

  <!-- 关联的建筑类型的ResultMap -->
  <resultMap  id="RoomWithBuildingTypeResultMap" type="Room" extends="RoomResultMap">
  	<association property="buildingtype" resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingTypeMapper.BuildingTypeResultMap"></association>
  </resultMap>

  <!-- 关联的户型的ResultMap -->
  <resultMap  id="RoomWithHouseTypeResultMap" type="Room" extends="RoomResultMap">
  	<association property="housetype" resultMap="com.neusoft.managerment.baseinfo.mapper.IHouseTypeMapper.HouseTypeResultMap"></association>
  </resultMap>

  <!-- 关联的楼宇的ResultMap -->
  <resultMap  id="RoomWithBuildingResultMap" type="Room" extends="RoomResultMap">
  	<association property="building" resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingMapper.BuildingResultMap"></association>
  </resultMap>
  
  <!-- 关联的外键的ResultMap -->
  <resultMap  id="RoomWithFKResultMap" type="Room" extends="RoomResultMap">
	<association property="area" resultMap="com.neusoft.managerment.baseinfo.mapper.IAreaMapper.AreaResultMap"></association>
    <association property="buildingtype" resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingTypeMapper.BuildingTypeResultMap"></association>
    <association property="housetype" resultMap="com.neusoft.managerment.baseinfo.mapper.IHouseTypeMapper.HouseTypeResultMap"></association>
  	<association property="building" resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingMapper.BuildingResultMap"></association>
  </resultMap>

  <insert id="create"  keyProperty="roomno"   keyColumn="ROOMNO" useGeneratedKeys="true" flushCache="true">
   insert into Room (AREANO,BUILDINGTYPENO,HOUSETYPENO,BUILDINGNO,DEPARTMENTCODE,FLOOR,ROOMCODE,BUILDINGAREA,FEEAREA,ROOMSTATUS,ROOMTYPE)
   values (#{area.areano},#{buildingtype.buildingtypeno},#{housetype.housetypeno},#{building.buildingno},#{departmentcode},#{floor},
   #{roomcode},#{buildingarea},#{feearea},#{roomstatus},#{roomtype})
  </insert>
  
  <update id="update" flushCache="true">
   update Room set AREANO=#{area.areano},BUILDINGTYPENO=#{buildingtype.buildingtypeno},HOUSETYPENO=#{housetype.housetypeno},
   BUILDINGNO=#{building.buildingno},DEPARTMENTCODE=#{departmentcode},FLOOR=#{floor},ROOMCODE=#{roomcode},
   BUILDINGAREA=#{buildingarea},FEEAREA=#{feearea},ROOMSTATUS=#{roomstatus},ROOMTYPE=#{roomtype}
   where ROOMNO=#{roomno}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from Room where ROOMNO=#{roomno}
  </delete>
  
  <!-- 1 查询房间信息,无关联外键 -->
  <select id="selectListByAll" resultMap="RoomResultMap">
   select * from Room
  </select>
  
  <!-- 2 取得指定房间的信息,包含外表所有-->
  <select id="selectByRoomNo" resultMap="RoomWithFKResultMap" >
  select a.*,b.*,c.*,d.*,e.* from Room  a inner join Area b on a.AreaNo=b.AREANO 
                                          inner join BuildingType c on a.BuildingTypeNo=c.TypeNo 
                                          inner join HouseType d on a.HouseTypeNo=d.TypeNo 
                                          inner join Building e on a.BuildingNo=e.BuildingNo
                                          where ROOMNO=#{roomno}
  </select>

  <!-- 
  <select id="selectListByAllWithPage" resultMap="RoomResultMap">
   select * from Room limit #{start},#{rows}
  </select>
   -->
   
  <!-- 3 取得所有房间列表,关联AreaNo,BuildingTypeNo,HouseTypeNo,BuildingNo-->
  <select id="selectListByAllwithFK" resultMap="RoomWithFKResultMap">
   select a.*,b.*,c.*,d.*,e.* from Room a inner join Area b on a.AreaNo=b.AREANO 
                                          inner join BuildingType c on a.BuildingTypeNo=c.TypeNo 
                                          inner join HouseType d on a.HouseTypeNo=d.TypeNo 
                                          inner join Building e on a.BuildingNo=e.BuildingNo
  </select> 
  
  <!-- 4 取得房间的个数 -->
  <select id="selectCountByAll" resultType="int">
   select IFNULL(count(ROOMNO), 0) from Room
  </select>
 
  <!-- 5 根据综合检索条件取得房间列表-->
  <select id="selectListByConditionWithPage" resultMap="RoomWithFKResultMap">
  select a.*,b.* from Customer a inner join CustomerType b on a.TypeNo=b.TypeNo
  <where>
     <if test="typeno!=null and typeno!='' ">
      and b.TYPENAME in (select typename from CustomerType  where TypeNo=#{typeno})
     </if>
     <if test="cname!=null and cname!=''">
      and a.CNAME=#{cname}
     </if>
     <if test="ccode!=null and ccode!=''" >
     and a.CCODE=#{ccode}
     </if>
     <if test="feestartdate!=null and feestartdate!=''">
     and a.FEESTARTDATE &gt;=#{feestartdate}
     </if>
     <if test="feeenddate!=null and feeenddate!=''" >
     and a.FEEENDDATE &lt;=#{feeenddate}
     </if>
  </where> 
  limit #{start},#{rows}
  </select>

  <!-- 6 根据综合检索条件取得房间个数 -->
  <select id="selectCountByCondition" resultType="int">
  select IFNULL(count(CUSTOMERNO), 0) from Customer a inner join CustomerType b on a.TYPENO=b.TYPENO
  <where>
     <if test="typeno!=null and typeno!='' ">
      and b.TYPENAME in (select typename from CustomerType  where TYPENO=#{typeno})
     </if>
     <if test="cname!=null and cname!=''">
      and a.CNAME=#{cname}
     </if>
     <if test="ccode!=null and ccode!=''" >
     and a.CCODE=#{ccode}
     </if>
     <if test="feestartdate!=null">
     and FEESTARTDATE &gt;=#{feestartdate}
     </if>
     <if test="feeenddate!=null">
     and FEEENDDATE &lt;=#{feeenddate}
     </if>
  </where>  
  </select> 
  
  <!--  取得所有房间列表,关联AreaNo-->
  <select id="selectListByAllWithAreaNo" resultMap="RoomWithAreaResultMap" >
  	select a.*,b.* from Room a inner join Area b on a.AreaNo=b.AreaNo
  </select>
  
  <!--  取得所有房间列表,关联BuildingTypeNo-->
  <select id="selectListByAllWithBuildingTypeNo" resultMap="RoomWithBuildingTypeResultMap" >
  	select a.*,c.* from Room a inner join BuildingType c on a.BuildingTypeNo=c.TypeNo
  </select>
  
  <!--  取得所有房间列表,关联HouseTypeNo -->
  <select id="selectListByAllWithHouseTypeNo" resultMap="RoomWithHouseTypeResultMap" >
  	select a.*,d.* from Room a inner join HouseType d on a.HouseTypeNo=d.TypeNo
  </select>
  
  <!--  取得所有房间列表,关联BuildingNo-->
  <select id="selectListByAllWithBuildingNo" resultMap="RoomWithBuildingResultMap" >
  	select a.*,e.* from Room a inner join Building e on a.BuildingNo=e.BuildingNo	
  </select>
  

  
  <!-- 根据编号取得此小区类型的房间 -->
  <select id="selectListByAreaNo" resultMap="RoomWithHouseTypeResultMap">
   select * from Room where AreaNo=#{areano}
  </select>
  
  <!-- 根据类型编号取得此建筑类型的房间 -->
  <select id="selectListByBuildingTypeNo" resultMap="RoomWithHouseTypeResultMap">
   select * from Room where BuildingTypeNo=#{buildingtypeno}
  </select>
  
  <!-- 根据类型编号取得此户型的房间 -->
  <select id="selectListByHouseTypeNo" resultMap="RoomWithHouseTypeResultMap">
   select * from Room where HouseTypeNo=#{housetypeno}
  </select>
  
  <!-- 根据楼宇序号取得此序号的房间 -->
  <select id="selectListByBuildingNo" resultMap="RoomWithBuildingResultMap">
   select RoomNo from Room  where BuildingNo=#{Building.buildingno}
  </select>
  
</mapper>