<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.managerment.baseinfo.mapper.IRoomMapper">

  <cache/>

  <resultMap id="RoomResultMap" type="Room">
    <id property="roomno" column="ROOMNO"/>
    <result property="departmentcode" column="DEPARTMENTCODE"/>
    <result property="floor" column="FLOOR"/>
    <result property="roomcode" column="ROOMCODE"/>
    <result property="buildingarea" column="BUILDINGAREA"/>
    <result property="feearea" column="FEEAREA"/>
    <result property="roomstatus" column="ROOMSTATUS"/>
    <result property="roomtype" column="ROOMTYPE"/>
  </resultMap>

  <!-- 关联的小区的ResultMap -->
  <resultMap  id="RoomWithAreaResultMap" type="Room" extends="RoomResultMap">
  	<association property="area" resultMap="com.neusoft.managerment.baseinfo.mapper.IAreaMapper.AreaResultMap"></association>
  </resultMap>

  <!-- 关联的建筑类型的ResultMap -->
  <resultMap  id="RoomWithBuildingTypeResultMap" type="Room" extends="RoomResultMap">
  	<association property="buildingtype" resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingTypeMapper.BuildingTypeResultMap"></association>
  </resultMap>

  <!-- 关联的户型的ResultMap -->
  <resultMap  id="RoomWithHouseTypeResultMap" type="Room" extends="RoomResultMap">
  	<association property="housetype" resultMap="com.neusoft.managerment.baseinfo.mapper.IHouseTypeMapper.HouseTypeResultMap"></association>
  </resultMap>

  <!-- 关联的楼宇的ResultMap -->
  <resultMap  id="RoomWithBuildingResultMap" type="Room" extends="RoomResultMap">
  	<association property="building" resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingMapper.BuildingResultMapWithAreaAndBuildingType"></association>
  </resultMap>
  
  <!-- 关联的外键的ResultMap -->
  <resultMap  id="RoomWithFKResultMap" type="Room" extends="RoomResultMap">
	<association property="area" resultMap="com.neusoft.managerment.baseinfo.mapper.IAreaMapper.AreaResultMap"></association>
    <association property="buildingtype" resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingTypeMapper.BuildingTypeResultMap"></association>
    <association property="housetype" resultMap="com.neusoft.managerment.baseinfo.mapper.IHouseTypeMapper.HouseTypeResultMap"></association>
  	<association property="building" resultMap="com.neusoft.managerment.baseinfo.mapper.IBuildingMapper.BuildingResultMapWithAreaAndBuildingType"></association>
  </resultMap>

  <insert id="create"  keyProperty="roomno"   keyColumn="ROOMNO" useGeneratedKeys="true" flushCache="true">
   insert into Room (AREANO,BUILDINGTYPENO,HOUSETYPENO,BUILDINGNO,DEPARTMENTCODE,FLOOR,ROOMCODE,BUILDINGAREA,FEEAREA,ROOMSTATUS,ROOMTYPE)
   values (#{area.areano},#{buildingtype.typeno},#{housetype.typeno},#{building.buildingno},#{departmentcode},#{floor},
   #{roomcode},#{buildingarea},#{feearea},#{roomstatus},#{roomtype})
  </insert>
  
  <update id="update" flushCache="true">
   update Room set AREANO=#{area.areano},BUILDINGTYPENO=#{buildingtype.typeno},HOUSETYPENO=#{housetype.typeno},
   BUILDINGNO=#{building.buildingno},DEPARTMENTCODE=#{departmentcode},FLOOR=#{floor},ROOMCODE=#{roomcode},
   BUILDINGAREA=#{buildingarea},FEEAREA=#{feearea},ROOMSTATUS=#{roomstatus},ROOMTYPE=#{roomtype}
   where ROOMNO=#{roomno}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from Room where ROOMNO=#{roomno}
  </delete>
  
  <!-- 1 查询房间信息,无关联外键 -->
  <select id="selectListByAll" resultMap="RoomResultMap">
   select * from Room
  </select>
  
  <!-- 2 取得所有房间列表,有关联,分页模式 -->
  <select id="selectListByAllWithFKWithPage" resultMap="RoomWithFKResultMap">
  select a.*,b.*,c.*,d.*,e.* from Room  a inner join Area b on a.AreaNo=b.AREANO 
                                          inner join BuildingType c on a.BuildingTypeNo=c.TypeNo 
                                          inner join HouseType d on a.HouseTypeNo=d.TypeNo 
                                          inner join Building e on a.BuildingNo=e.BuildingNo
   limit #{start},#{rows}
  </select>
  
  <!-- 3 取得指定房间的信息,包含外表所有-->
  <select id="selectByRoomNo" resultMap="RoomWithFKResultMap" >
  select a.*,b.*,c.*,d.*,e.* from Room  a inner join Area b on a.AreaNo=b.AREANO 
                                          inner join BuildingType c on a.BuildingTypeNo=c.TypeNo 
                                          inner join HouseType d on a.HouseTypeNo=d.TypeNo 
                                          inner join Building e on a.BuildingNo=e.BuildingNo 
  where ROOMNO=#{roomno}
  </select>

  <!-- 4 取得房间的个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
  <select id="selectCountByAll" resultType="int">
   select IFNULL(count(ROOMNO), 0) from Room
  </select>
  
  <!-- 5 根据综合检索条件取得房间列表-->
  <select id="selectListByConditionWithPage" resultMap="RoomWithFKResultMap">
  select a.*,b.*,c.*,d.*,e.* from Room  a inner join Area b on a.AreaNo=b.AREANO 
                                          inner join BuildingType c on a.BuildingTypeNo=c.TypeNo 
                                          inner join HouseType d on a.HouseTypeNo=d.TypeNo 
                                          inner join Building e on a.BuildingNo=e.BuildingNo
  <where>
     <if test="areano!=0">
      and b.AreaNo=#{areano}
     </if>
     <if test="buildingtypeno!=null">
      and c.TypeNo=#{typeno}
     </if>
     <if test="housetypeno!=0">
      and d.TypeNo=#{typeno}
     </if>
     <if test="buildingno!=0">
      and e.BuildingNo=#{buildingno}
     </if>
  </where> 
  limit #{start},#{rows}
  </select>

  <!-- 6 根据综合检索条件取得房间个数 -->
  <select id="selectCountByCondition" resultType="int">
  select IFNULL(count(ROOMNO), 0)  from Room  a inner join Area b on a.AreaNo=b.AREANO 
                                          inner join BuildingType c on a.BuildingTypeNo=c.TypeNo 
                                          inner join HouseType d on a.HouseTypeNo=d.TypeNo 
                                          inner join Building e on a.BuildingNo=e.BuildingNo
  <where>
     <if test="areano!=0">
      and b.AreaNo=#{areano}
     </if>
     <if test="buildingtypeno!=null">
      and c.TypeNo=#{typeno}
     </if>
     <if test="housetypeno!=0">
      and d.TypeNo=#{typeno}
     </if>
     <if test="buildingno!=0">
      and e.BuildingNo=#{buildingno}
     </if>
  </where>  
  </select> 

</mapper>